/ppu/*
!/ppu/ppe_benchmarks.c
!/ppu/ppe_benchmarks.h
!/ppu/disk_benchmark.c
!/ppu/disk_benchmark.h
!/ppu/dma_benchmark.c
!/ppu/dma_benchmark.h
!/ppu/eib_benchmark.c
!/ppu/eib_benchmark.h
!/ppu/render_cell.c
!/ppu/render.h
!/ppu/cellmark.h
!/ppu/gcm.c
!/ppu/gcm.h
!/ppu/main.c
!/ppu/render_disk.c
!/ppu/render_dma.c
!/ppu/render_eib.c
!/ppu/render_ppe.c
!/ppu/render.c
!/ppu/spu.h
!/ppu/spu.c

/spu/*
!/spu/spu_fma_kernel.S
!/spu/spu_dp_fma_kernel.S
!/spu/spu_int_kernel.S
!/spu/spu_recip_kernel.S
!/spu/spu_shuf_kernel.S
!/spu/spu_dual_kernel.S
!/spu/spu_dma_kernel.c
!/spu/spu_dma_main.c
!/spu/spu_eib_main.c
!/spu/spu_memtest.c
!/spu/spu_stress.c

/include/*
!/include/stress_common.h

/docs/*
!/docs/disk_tuning.md
!/docs/ppe_tuning.md
!/docs/spu_tuning.md

/Makefile
/build.bat
/make_pkg.py
/cell_stress.sln
/cell_stress.vcxproj
/cell_stress.vcxproj.user
/ps3py
/scetool

/cellmark.elf
/cellmark.self
/cellmark.pkg
/cellmark_decr.pkg
/cellmark_decr.elf
/cellmark_decr.self
/obj
/Debug
/.vs